<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false" backupStaticAttributes="false" beStrictAboutTestsThatDoNotTestAnything="false" colors="true" convertDeprecationsToExceptions="true" convertNoticesToExceptions="true" disallowTestOutput="false" enableTestsFromAnnotations="true" errorOnDeprecated="true" forceCoversAnnotation="false" hangTimeout="60000" includePath="" bootstrap="vendor/autoload.php" stopOnFailure="false">
  
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="-1"/>
    </php>

</phpunit>
